*{
    margin: 0%;
    padding: 0%;
    background-color: 
    
}

h1{
    padding: 1%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #2980B9;
    font-size: 40px;
    
}

h2  {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    
}

body{
    text-align: center;
    background-color: lightgray;
    
    
    
}



.menu li{
    display: inline-block;
    
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bold;     
}



.menu{
    text-align: left;
    padding: 0%;
    margin:3% 2% 0% 0%;
    
}

li{
    list-style: none;
    margin-right: 10%;
    padding: 5px;
    color: beige;
    
}
li p{
    color:dodgerblue;
    
}



.notices article {
    text-align: left;
    font-size: 20px;
}
p li{
    font-family: 'PT Sans', sans-serif;

}

 li{
    margin: 0% 0% 0% 129px;
    background:none;
    padding: 10px 10px;
    border: 1px solid #3498db;
    border-bottom: 0px;
    cursor: pointer;
    
    transition: 0.8s;
    position: relative;
    overflow: hidden;

}

li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

li::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  li::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  li::before{
    height: 180%;
  }
  li:hover::before{
    height: 180%;
  }
  li:hover::before{
    height: 0%;
  }

  li{
    color: #3498db;
  }

  li:hover{
    color: #fff;
  }
  

.imgIndex{
    width: 1030px;
    height: 450px;
}

.info p{
    padding-left: 1%;
    padding-top: 2%;
    margin-right: 8%;
    padding-bottom: 2%;
    display: inline-block;
    text-align: center;
}



header, footer {

    padding: 0%;
    background-color:white ;
    opacity: ;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    
}

.servicios p{
    padding: 1%;
}


section article{
    width: 50%;
    padding: 4%;
}

.icon{
    width: 46px;
}

.imgIcon{
    display: inline-block;
}

.copyRight {
    margin: 2rem;
    text-align: center;
    display: block;
    margin: 0%;
    
    font-weight: bold;
    font-size: 12px;
    
    

}

.clr{
    background-color:lightgray;
    display: block;
    padding: 2% 2%;
    
}

.canvas{
    
    background-color: #F4F6F6     ;
    margin:  2rem;
    padding: 0%;
    
}

a:link{
    text-decoration: none;
}

footer a {
    color: black;
}


