*{
    margin: 0%;
    padding: 0%;    
}

body{
   
    font-family: 'Montserrat', sans-serif;
}

.canvas{
    margin: 1rem; 
}

header{
    background: linear-gradient(to right,#0c2461 10%,#1e3799 20%,#4a69bd 30%,#6a89cc 40%,#546de5 50%, #1e3799 100%);
    padding: 10px;
    margin: 0%;

}

h1{
    font-size: 40px;
    color:white;
    font-family: 'DM Serif Text', serif;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}

nav{
    padding: 0% 0% 0% 0%;
    margin: 1% 2% 0% 2%;
    background-color:#c8d6e5;
}

.buttons li{
    display:inline-block;   
}

 

